<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias type="com.project.portal.board.BoardVO" alias="BoardVO"/>
		<typeAlias type="com.project.portal.board.notice.NoticeVO" alias="NoticeVO"/>
		<typeAlias type="com.project.portal.member.MemberVO" alias="MemberVO"/>
		
		<typeAlias type="com.project.portal.board.file.FileVO" alias="FileVO"/>
		<typeAlias type="java.util.List" alias="List"/>
		
		<typeAlias type="com.project.portal.util.Pager" alias="Pager"/>
		<typeAlias type="java.lang.Long" alias="Long"/>
	</typeAliases>
</configuration>  
