<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.portal.member.MemberMapper">
	
	<select id="getMemberLogin" parameterType="MemberVO">
		select M.*
		from member M
		where M.id=#{id} and M.pw=#{pw};
	</select>

</mapper>