<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.portal.board.notice.NoticeMapper">

	<select id="getList" resultType="NoticeVO" parameterType="Pager">
		select * from notice order by num desc;
	</select>
	
	<select id="getOne" parameterType="NoticeVO" resultMap="getOneResult">
		select * from notice where num=#{num}
	</select>
	
	<select id="getCount" resultType="Long" parameterType="Pager">
		select count(num) from notice
	</select>
	
	<insert id="setInsert" parameterType="NoticeVO" useGeneratedKeys="true" keyProperty="num">
		insert into notice (num, category, department, campus, title, contents, regDate)
		values(#{num}, #{category}, #{department}, #{campus}, #{title}, #{contents}, sysdate())
	</insert>
	
	<update id="setUpdate" parameterType="NoticeVO">
		update notice set category=#{category}, department=#{department}, campus=#{campus}, title=#{title}, contents=#{contents} where num=#{num}
	</update>
	
	<delete id="setDelete" parameterType="NoticeVO">
		delete from notice where num=#{num}
	</delete>
	
	<resultMap type="NoticeVO" id="getOneResult">
		<id column="num" property="num"/>
		<result column="writer" property="writer"/>	
		<result column="title" property="title"/>	
		<result column="contents" property="contents"/>	
		<result column="regDate" property="regDate"/>
	</resultMap>
	
	
	
</mapper>